extends template.pug		
	
block content
	.container
		.row
			.col-md-offset-2.col-md-8
				if user.local.imageURL
					img(src="/profile/300/"+user.local.imageURL)
				h1 #{user.local.name}
				h4 #{user.local.description}
				
				a.btn.btn-default(href="/profile/edit") Edit
				
				hr
				
				
