doctype html
html(lang="en" class = "htmlReader")
  head
    title Node Authentication
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="//code.jquery.com/jquery-3.3.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/scripts/typeahead.bundle.js")
    script(src="/scripts/youshould.js")
    //-link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', type = "text/css" href='/css/style.css')
  body.reader
    .ushouldPane
      .container
        .row
          .col-sm-2
            img.logo(src = "/images/logo.png")
            h3 uShould
    .second-row
      iframe( src="https://jsfiddle.net/about")
