.row.share_box
  .col-sm-10.col-sm-offset-1.youshould_form_container
    form(id="youshould", method="post", action="/list")
      .col-sm-10
        div.form-group
          input.form-control(name="who" id="who" data-provide="typeahead" placeholder="WHO")
        h3.should SHOULD
        div.form-group
          select.form-control(name="verb")
            option read
            option listen to
            option watch
      
        div.form-group
          input.form-control(name="url" id = "url")
      
        div.form-group
          input.btn.btn-primary(type="submit")
