extends template

block content
  .container
    include share-box.pug
    .row
      .col-sm-offset-1.col-sm-5
        ul.nav.nav-pills(role="tablist")
          li(role="presentation").active
            a.active(href="#list"  aria-controls="list" role="tab" data-toggle="tab") Inbox
          li
            a(href="#shares"  aria-controls="shares" role="tab" data-toggle="tab") Sent
          li
            a(href="#archive"  aria-controls="archive" role="tab" data-toggle="tab") Archive
            
          li
            a(href="#read"  aria-controls="read" role="tab" data-toggle="tab") Read
        
      .col-sm-offset-1.col-sm-4.selectors
        a.selected(href="#" data-type = "standard") 
          span.glyphicon.glyphicon-th-list
        a(href="#" data-type = "boxes")
          span.glyphicon.glyphicon-th-large
        a(href="#" data-type = "list") 
          span.glyphicon.glyphicon-list
    .row
      .col-sm-offset-1.col-sm-10                  
        .tab-content
          #list.tab-pane.fade.active.in 
            h3 Inbox  
            if inbox
              ul.item_list
                each val in inbox
                  
                  - var open = (val.open ? 'read' : '')
                  - var direction = "From:"
                  - var from_to = "from";
                  - var imageURL = val.user['local']['imageURL']
                  include article-list-2.pug
          #shares.tab-pane.fade
            h3 Sent
            if sent
              ul.item_list
                each val in sent
                  - var open = (val.open ? 'read' : '')
                  - var direction = "To:"
                  - var from_to = "to";
                  
                  include article-list-2.pug
          #archive.tab-pane.fade
            h3 Archived Items
            if itemsArchived
              ul.master_list
                each val in itemsArchived
                  - var open = "read"
                  - var direction = "From:"
                  - var from_to = "to";
                  //include article-list.pug
          #read.tab-pane.fade
            h3 Read Items
            if itemsRead
              ul.master_list
                each val in itemsRead
                  - var open = (val.open ? 'read' : '')
                  - var direction = "From:"
                  - var from_to = "to";
                  include article-list.pug
                      
        
              
